body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;


}

nav{
    
    display: flex;
    align-items: center;
    position: sticky;
    justify-content:right;
    background: #1ea71e;
    height: 10vh;
}

ul{
    display: flex;
    
    

}
ul li{
    list-style: none;
    margin-right: 3px;
    padding: 5px 20px;
    
    

  
}
ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    
    
    
    
}
ul li:hover{

    background: rgb(187, 139, 139);
    border-radius: 5px;
    
}
h4{
    margin-right: 27%;
    font-size: 21px;
    font-family: 'EB Garamond', serif;
    color:white;
}
.active{
    background: blue;
}
.home{
    background-image: url(../images/head.JPEG);
    background-size: cover;  
    background-position:  center;
    padding-top:30px ;
    height: 90vh;

}
.class01{
    font-size: 40px;
    padding-top: 15px;
}
.class0{
    font-size: 30px;
}

.class01,
.class0,
.class1,
.class2{
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(250, 250, 250);  
    font-weight: bold;
}
button{
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 15%;
    font-weight:20px ;
    background: blue;
    border-radius: 10px;
    color: white;
    margin-top: 50px;
}
/* ==fooder=== */
footer{
    background: #1ea71e;
    margin: 0;
    padding: 10px;  
    height: 13vh;
}
footer p{
    margin: 0;
}
.icon{
    justify-content: center;
    align-items: center;
    display: flex; 
}



.icon img{
    height: 30px;
    margin: 30px;
    margin-top: 5px;
    border-radius: 1px;
}
.class3, 
.class4{
    display: flex;
    justify-content: center;
    align-items: center;  
    
}
/* ==========experrince=== */
.class15{
    display: flex;
}
.cover{
    width: 85%;
    height: 45vh;
    display: flex;
}
.work{
    display: flex;
}



@media(max-width:768px){
    nav{
    
        display: flex;
        align-items: center;
        position: sticky;
        justify-content:right;
        background: rgb(38, 141, 38);
        height: 9vh;
    }
    
    ul{
        display: flex;
        
        
    
    }
    ul li{
        list-style: none;
        margin-right: 1px;
        padding: 5px 20px;
        
        
    
      
    }
    ul li a{
        text-decoration: none;
        color:rgb(255, 255, 255);
        text-transform: uppercase;
        font-size: 10px;
        
        
        
        
    }
    ul li:hover{
    
        background: rgb(187, 139, 139);
        border-radius: 5px;
        
    }
    h4{
        margin-right: 10%;
        font-size: 15px;
        font-family: 'EB Garamond', serif;
        color:white;
    }
    .active{
        background: blue;
    }
    .home{
        background-image: url(../images/head.JPEG);
        background-size: cover;  
        background-position:  center;
        padding-top:20px ;
        height: 75vh;
    
    }
    .class01{
        font-size:25px;
        padding-top: 15px;
    }
    .class0{
        font-size: 20px;
        color: blue;
        margin-top: 20px;
    }
    
    .class01,
    .class0,
    .class1,
    .class2{
        margin: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
        color: rgb(250, 250, 250);  
        font-weight: bold;
    }
    .class2{
        font-size: 10px;
    }
    .class1{
        font-size: 15px;
    }
    button{
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 6px;
        width: 15%;
        font-size: 11px;
        background: blue;
        border-radius: 8px;
        color: white;
        margin-top: 20px;
    }
    footer{
        background: rgb(38, 146, 38);
        height: 9vh;
    }
    footer p{
        margin: 0;
    }
    .icon{
        justify-content: center;
        align-items: center;
        display: flex; 
    }
    img{
        height: 18px;
        margin: 30px;
        margin-top: 5px;
        border-radius: 1px;
    }
    .class3, 
    .class4{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;  
        
    }
    /* ===about== */


   

} 


@media(max-width:375px){
    nav{
    
        display: flex;
        align-items: center;
        position: sticky;
        justify-content:right;
        background: rgb(38, 141, 38);
        height: 9vh;
    }
    
    ul{
        display: flex;
        
        
    
    }
    ul li{
        list-style: none;
        margin-right: 1px;
        padding: 5px 20px;
        
        
    
      
    }
    ul li a{
        text-decoration: none;
        color:rgb(255, 255, 255);
        text-transform: uppercase;
        font-size: 5px;
        
        
        
        
    }
    ul li:hover{
    
        background: rgb(187, 139, 139);
        border-radius: 5px;
        
    }
    h4{
        margin-right: 10%;
        font-size: 10px;
        font-family: 'EB Garamond', serif;
        color:white;
    }
    .active{
        background: blue;
    }
    .home{
        background-image: url(../images/head.JPEG);
        background-size: cover;  
        background-position:  center;
        padding-top:20px ;
        height: 70vh;
    
    }
    .class01{
        font-size:25px;
        padding-top: 15px;
    }
    .class0{
        font-size: 20px;
        color: blue;
        margin-top: 20px;
    }
    
    .class01,
    .class0,
    .class1,
    .class2{
        margin: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
        color: rgb(250, 250, 250);  
        font-weight: bold;
    }
    .class2{
        font-size: 10px;
    }
    .class1{
        font-size: 15px;
    }
    button{
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 6px;
        width: 15%;
        font-size: 11px;
        background: blue;
        border-radius: 8px;
        color: white;
        margin-top: 20px;
    }
    footer{
        background: rgb(38, 146, 38);
        height: 9vh;
    }
    footer p{
        margin: 0;
    }
    .icon{
        justify-content: center;
        align-items: center;
        display: flex; 
    }
    img{
        height: 18px;
        margin: 30px;
        margin-top: 5px;
        border-radius: 1px;
    }
    .class3, 
    .class4{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;  
        
    }

   
   
    


}


/* =============about me============================= */
.center{
    background-image: url(../images/office.jpg) ;
    background-size: cover;  
    background-position:  center;
    margin-bottom: 18vh;
    display: flex;


}
.so {
    display: flex;
    width: 60%;
    margin: auto;
    height: 80vh;
    margin-bottom: -15vh;
    margin-top: 10%;
    justify-content: center;
    background-color:rgb(255, 253, 253);
    padding-bottom: 10%; 
    box-shadow: rgba(0, 0, 0, 0.088) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.imge img {
    width: 100%;
    margin-top: 50%;
   

} 
.imge{
    width: 40%;
}

.class7{
    width: 50%;
    display: flex;
    margin-top: 24%;
    margin-bottom: 5px;

    
}
.class07{
    margin-left: 15px;
}
.class8{
    padding-top: 42px;
}


 
p{
    margin: 10px; 
    font-size: 13px;
}
.itaty{
    color: blue;
    font-size: 13px;

}
/* /* ==exper=== */

